In [1]:
import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv(r"..\data\brasileirao.csv")

df

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,Santos,87,46,25,12,9,93,60,33
2,2003,3,São Paulo,78,46,22,12,12,81,67,14
3,2003,4,São Caetano,74,46,19,14,13,53,37,16
4,2003,5,Coritiba,73,46,21,10,15,67,58,9
...,...,...,...,...,...,...,...,...,...,...,...
445,2024,16,Red Bull Bragantino,44,38,10,14,14,44,48,-4
446,2024,17,Athletico Paranaense,42,38,11,9,18,40,46,-6
447,2024,18,Criciúma,38,38,9,11,18,42,61,-19
448,2024,19,Atlético Goianiense,30,38,7,9,22,29,58,-29
449,2024,20,Cuiabá,30,38,6,12,20,29,49,-20

Checking if data is ok

In [3]:
df.head()

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,Santos,87,46,25,12,9,93,60,33
2,2003,3,São Paulo,78,46,22,12,12,81,67,14
3,2003,4,São Caetano,74,46,19,14,13,53,37,16
4,2003,5,Coritiba,73,46,21,10,15,67,58,9

In [4]:
df.head(20)

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,Santos,87,46,25,12,9,93,60,33
2,2003,3,São Paulo,78,46,22,12,12,81,67,14
3,2003,4,São Caetano,74,46,19,14,13,53,37,16
4,2003,5,Coritiba,73,46,21,10,15,67,58,9
5,2003,6,Atlético Mineiro,72,46,19,15,12,76,62,14
6,2003,7,Internacional,72,46,20,10,16,59,57,2
7,2003,8,Flamengo,66,46,18,12,16,66,73,-7
8,2003,9,Goiás,65,46,18,11,17,78,63,15
9,2003,10,Paraná,65,46,18,11,17,85,75,10
10,2003,11,Figueirense,65,46,17,14,15,62,54,8
11,2003,12,Athletico Paranaense,61,46,17,10,19,67,72,-5
12,2003,13,Guarani,61,46,17,10,19,64,72,-8
13,2003,14,Criciúma,60,46,17,9,20,57,69,-12
14,2003,15,Corinthians,59,46,15,12,19,61,63,-2
15,2003,16,Vitória,56,46,15,11,20,50,64,-14
16,2003,17,Vasco,54,46,13,15,18,57,69,-12
17,2003,18,Juventude,53,46,12,14,20,55,70,-15
18,2003,19,Fluminense,52,46,13,11,22,52,77,-25
19,2003,20,Ponte Preta,50,46,11,18,17,63,73,-10

In [5]:
df.tail()

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff
445,2024,16,Red Bull Bragantino,44,38,10,14,14,44,48,-4
446,2024,17,Athletico Paranaense,42,38,11,9,18,40,46,-6
447,2024,18,Criciúma,38,38,9,11,18,42,61,-19
448,2024,19,Atlético Goianiense,30,38,7,9,22,29,58,-29
449,2024,20,Cuiabá,30,38,6,12,20,29,49,-20

In [6]:
df.shape

(450, 11)

In [7]:
df.dtypes

season         int64
place          int64
team             str
points         int64
played         int64
won            int64
draw           int64
loss           int64
goals          int64
goals_taken    int64
goals_diff     int64
dtype: object

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   season       450 non-null    int64
 1   place        450 non-null    int64
 2   team         450 non-null    str
 3   points       450 non-null    int64
 4   played       450 non-null    int64
 5   won          450 non-null    int64
 6   draw         450 non-null    int64
 7   loss         450 non-null    int64
 8   goals        450 non-null    int64
 9   goals_taken  450 non-null    int64
 10  goals_diff   450 non-null    int64
dtypes: int64(10), str(1)
memory usage: 38.8 KB

In [9]:
df.isna().sum()

season         0
place          0
team           0
points         0
played         0
won            0
draw           0
loss           0
goals          0
goals_taken    0
goals_diff     0
dtype: int64

In [10]:
df.describe()

,season,place,points,played,won,draw,loss,goals,goals_taken,goals_diff
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,2013.284444,10.762222,53.331111,39.044444,14.362222,10.315556,14.366667,50.031111,50.044444,-0.013333
std,6.442411,5.970148,12.748524,2.556755,4.383091,2.623855,4.403506,12.788459,12.446868,16.605331
min,2003.000000,1.000000,15.000000,37.000000,1.000000,3.000000,3.000000,18.000000,19.000000,-57.000000
25%,2008.000000,6.000000,45.000000,38.000000,11.000000,8.000000,11.000000,41.000000,41.000000,-10.000000
50%,2013.000000,11.000000,53.000000,38.000000,14.000000,10.000000,14.000000,49.000000,48.000000,-1.000000
75%,2019.000000,16.000000,61.000000,38.000000,17.000000,12.000000,17.000000,58.000000,58.000000,10.750000
max,2024.000000,24.000000,100.000000,46.000000,31.000000,18.000000,29.000000,103.000000,92.000000,55.000000

After verification, it was observed that the dataset is well structured, with no null values and with appropriate data types. The metrics are within the expected ranges for the championship.

The highest number of points recorded in the period was 100 and the lowest was 15.