In [6]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

2.4.2
3.0.0

Loading data

In [10]:
# Load dataset
df = pd.read_csv(r"..\data\brasileirao.csv")

df

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,Santos,87,46,25,12,9,93,60,33
2,2003,3,São Paulo,78,46,22,12,12,81,67,14
3,2003,4,São Caetano,74,46,19,14,13,53,37,16
4,2003,5,Coritiba,73,46,21,10,15,67,58,9
...,...,...,...,...,...,...,...,...,...,...,...
445,2024,16,Red Bull Bragantino,44,38,10,14,14,44,48,-4
446,2024,17,Athletico Paranaense,42,38,11,9,18,40,46,-6
447,2024,18,Criciúma,38,38,9,11,18,42,61,-19
448,2024,19,Atlético Goianiense,30,38,7,9,22,29,58,-29
449,2024,20,Cuiabá,30,38,6,12,20,29,49,-20

Creating new columns

In [12]:
df["win_percentage"] = df["won"] / df["played"] * 100
df["avg_goals_scored"] = df["goals"] / df["played"] * 100
df["avg_goals_taken"] = df["goals_taken"] / df["played"] * 100

df

,season,place,team,points,played,won,draw,loss,goals,goals_taken,goals_diff,win_percentage,avg_goals_scored,avg_goals_taken
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55,67.391304,221.739130,102.173913
1,2003,2,Santos,87,46,25,12,9,93,60,33,54.347826,202.173913,130.434783
2,2003,3,São Paulo,78,46,22,12,12,81,67,14,47.826087,176.086957,145.652174
3,2003,4,São Caetano,74,46,19,14,13,53,37,16,41.304348,115.217391,80.434783
4,2003,5,Coritiba,73,46,21,10,15,67,58,9,45.652174,145.652174,126.086957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,2024,16,Red Bull Bragantino,44,38,10,14,14,44,48,-4,26.315789,115.789474,126.315789
446,2024,17,Athletico Paranaense,42,38,11,9,18,40,46,-6,28.947368,105.263158,121.052632
447,2024,18,Criciúma,38,38,9,11,18,42,61,-19,23.684211,110.526316,160.526316
448,2024,19,Atlético Goianiense,30,38,7,9,22,29,58,-29,18.421053,76.315789,152.631579
449,2024,20,Cuiabá,30,38,6,12,20,29,49,-20,15.789474,76.315789,128.947368